.ipfs-container {
    margin-top: 15px;
}

.ipfs-uploader > .ant-upload {
    width: 128px;
    height: 128px;
}

.ipfs-history {
    margin: 0 auto;
    margin-top: 1em;
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

.ipfs-image {
    border-top: 1px solid #ddd;
    max-width: 75%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.ipfs-image img {
    max-width: 100px;
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 5px;
    display: inline;
    margin-right: 15px;
}

.ipfs-image p {
    vertical-align: middle;
    display: inline;
}